.banner {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.45),
      rgba(0, 0, 0, 0.6)
    ),
    url("../assets/banner.png");
  max-width: 1440;
  height: 440px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-wrapper {
  max-width: 1040px;
}

.banner-arrow {
  height: 16px;
  width: 16px;
  display: none;
}

.banner-btn {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  padding: 6px 8px;
  outline: none;
  color: white;
  border: 0.8px solid #ffffff;
  box-sizing: border-box;
  border-radius: 4px;
  background: none;
  display: none;
}
.banner-text {
  color: white;
}
.banner-text h1 {
  position: absolute;
  top: 358px;
  font-size: 36px;
  line-height: 46.8px;
  font-weight: 700;
}
.banner-text p {
  position: absolute;
  top: 409px;
  font-size: 18px;
  line-height: 23.4px;
  font-weight: 400;
}

/* query selector  */
@media only screen and (max-width: 768px) {
  .banner {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.45),
        rgba(0, 0, 0, 0.6)
      ),
      url("../assets/banner-sm.png");
      max-height: 236px;
  }

  .banner-arrow,
  .banner-btn {
    display: block;
  }

  .banner-text h1 {
    position: absolute;
    top: 188px;
    left: 16px;
    font-size: 17px;
    line-height: 22px;
    font-weight: 700;
  }
  .banner-text p {
    position: absolute;
    top: 212px;
    left: 16px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
  }
}
