/* navigation search  */

.navigation-container-sm {
  display: none;
}
.sm-nav-img img {
  width: 38px;
  height: 15px;
}
.nav-search {
  width: 360px;
  font-size: 14px;
  font-weight: 500;
  color: #5c5c5c;
  background-color: #f2f2f2;
  border: none;
  padding: 11px 50px;
  transition: 0.2s;
  outline: none;
}

.search-icon {
  position: relative;
}
.search-icon img {
  position: absolute;
  left: 16px;
  top: 13px;
}

/* navigation dropdown  */
.nav-dropdown-btn {
  background-color: white;
  color: #2e2e2e;
  font-weight: 500;
  font-size: 16px;
  border: none;
}
.nav-dropdown-btn:hover {
  background-color: #f2f2f2;
  color: #2e2e2e;
}

.btn-check:active + .nav-dropdown-btn,
.btn-check:checked + .nav-dropdown-btn,
.nav-dropdown-btn.active,
.nav-dropdown-btn:active,
.show > .nav-dropdown-btn.btn-success.dropdown-toggle {
  background-color: #f2f2f2;
  color: #2e2e2e;
  border-color: none;
}

.btn-check:focus + .nav-dropdown-btn,
.nav-dropdown-btn:focus {
  background-color: #f2f2f2;
  color: #2e2e2e;
  border-color: none;
  box-shadow: 0 0 0 0.25rem #c9c9c9;
}

.btn-check:active + .nav-dropdown-btn:focus,
.btn-check:checked + .nav-dropdown-btn:focus,
.nav-dropdown-btn.active:focus,
.nav-dropdown-btn:active:focus,
.show > .nav-dropdown-btn.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem #c9c9c9;
}

@media only screen and (max-width: 768px) {
  .navigation-container-lg {
    display: none;
  }
  .navigation-container-sm {
    display: block;
  }
}
